@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

* {
    margin: 0;
    border:0;
}

.ProfilePic {
    display: flex;
    justify-content: center;
}

.ProfilePic img {
    margin-top: 40px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid black;
}

.ProfileInfo {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.ProfileInfo #name {
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}

.ProfileInfo .RoleAndCompany {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    margin: 20px;
}

.SideLinks {
    margin: 25px;
}

.SideLinks ul li {
    list-style-type: none;
}

.ExternalLink {
    padding: 5px;
}