@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

.CommonText h3 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}

.CommonText h4 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}

.CommonText {
    font-family: 'Helvetica', sans-serif;
    margin-left: 20px;
}

.CommonText ul, p{
    margin-top: 20px;
    margin-left: 20px;
}

.CommonText ul li {
    list-style-type: none;
}


.ExternalLinks {
    color: black;
    display: flex;
    flex-direction: row;
    font-size: 3vh;
    margin: 25px;
}

.ExternalLink {
    margin: 7px;
}

a:link {
    text-decoration: none;
    color: black;
}
  
a:visited {
    text-decoration: none;
    color: black;
}
  
a:hover {
    text-decoration: none;
    color: black;
}
  
a:active {
    text-decoration: none;
    color: black;
}