@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.CompanyLogo img {
    width: 170px;
    height: 135px;
}

.Heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 4vh;
    margin: 50px 20px 20px 20px;
}

.ExperieneMain {
    margin-left: 50px;
}

.CompanyLogo {
    float: left;
    margin-right: 50px;
}

.Experience {
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    font-size: 2vh;
    border-bottom: 2px solid #f2f2f2;
}